---
layout: default
permalink: /
---

<ul class="posts">
  {% for post in site.posts %}
  <li>
    <div>
      <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%y" }}</time>
    </div>
    <span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </span>
  </li>
  {% endfor %}
</ul> 

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
