---
layout: default
permalink: /
---


<ul class="posts">
  {% for post in site.posts limit:12 %}
  <li>
    <div>
      <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%x" }}</time>
    </div>
    <span>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </span>
  </li>
  {% endfor %}
</ul>
<a href="/archive" {% if page.url=="/archive" %}class="active" {% endif %}>Tất cả bài</a> | <a href="/search" {% if page.url=="/search" %}class="active" {% endif %}>Tìm kiếm</a>
