---
layout: default
permalink: /
---

<div id="container">
  <h1>Latest Posts</h1>

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <span>
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </span>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Newer</a>
    {% endif %}

    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Older &raquo;</a>
    {% endif %}
  </div>
</div>
