<footer class="footer" role="contentinfo">
<nav role="navigation">
    <ul>
      <li><a href="/about" {% if page.url=="/about" %}class="active" {% endif %}>Tui</a></li>
      <li><a href="/breathe" {% if page.url=="/breathe" %}class="active" {% endif %}>Thở</a></li>
      <li><a href="/search" {% if page.url=="/search" %}class="active" {% endif %}>Tìm</a></li>
      <li><a href="/reading" {% if page.url=="/reading" %}class="active" {% endif %}>Đọc</a></li>
    </ul>
  </nav>
    <a rel="license" href="/archive">
    <img alt="Creative Commons License" style="border-width:0" src="/assets/license.svg" width="88" height="31">
  </a>
</footer>
