<header role="banner">
  <nav role="navigation">
    <img src="/favicon.png"></a>
    <ul>
      <li><a href="/" {% if page.url=="/" %}class="active" {% endif %}>trang chủ</a></li>
      <li><a href="/about" {% if page.url=="/about" %}class="active" {% endif %}>giới thiệu</a></li>
      <li><a href="/breathe" {% if page.url=="/breathe" %}class="active" {% endif %}>thở</a></li>
      <li><a href="/search" {% if page.url=="/search" %}class="active" {% endif %}>tìm kiếm</a></li>
    </ul>
  </nav>
</header>
