<header role="banner">
  <nav role="navigation">
    <a href="/" {% if page.url=="/" %}class="active" {% endif %}>{{ site.title}}</a>
    <ul>
      <li><a href="/about" {% if page.url=="/about" %}class="active" {% endif %}>Tui</a></li>
      <li><a href="/breath" {% if page.url=="/breath" %}class="active" {% endif %}>Thở</a></li>
      <li><a href="/search" {% if page.url=="/search" %}class="active" {% endif %}>Tìm</a></li>
      <li><a href="/reading" {% if page.url=="/reading" %}class="active" {% endif %}>Đọc</a></li>
      
    </ul>
  </nav>
</header>
