<nav role="navigation">
  <ul>
    <li> <a href="/" {% if page.url=="/" %}class="active" {% endif %}><i class="fa-solid fa-l"style="color: red;"></i><i class="fa-solid fa-e"style="color: blue;"></i><i class="fa-solid fa-q"style="color: green;"></i><i class="fa-solid fa-a"style="color: #000;"></i></a><li>
    <li><a href="/search" {% if page.url=="/search" %}class="active" {% endif %}>search</a></li>
    <li> <a href="/archive" {% if page.url=="/archive" %}class="active" {% endif %}>archive</a><li>
  </ul>
</nav>
