
:root {
  --foreground: #888;
  --background: #faf9f5;
  --accent: #fff;
  --accent2: #FFEC3DE6;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-size: .875rem;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  letter-spacing: -.02em;
  line-height: 1.5;
  font-family: "Roboto Mono", monospace;
  max-width: 35rem;
  padding: 0;
  margin: 4rem auto 0;
}
  
body::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto; /* Cột bên trái chiếm hết không gian còn lại */
  gap: 20px;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

.left-element {
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Các phần tử sẽ xếp theo cột khi màn hình nhỏ */
  }
  .left-element {
    width: 100%;
  }
}


nav {
  img {
    height: 3rem;
    transform: translateY(1.5rem);
    float: left;
    padding: 0 1.5rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: left;

    li {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  a {
    margin: .5rem;
    text-decoration: none;
    font-weight: 500;
  }
}

hr {
    background: #d9d9d9;
    height: 1px;
    border: none;
    max-width: 70ch;
    padding: 0;
    margin: 2rem auto;
}

time {
  font-style: none;
  font-size: inherit;
}

a,
a:visited {
    color: var(--foreground);
    text-decoration: underline;
    text-decoration-color: #fff7b1;
    text-decoration-skip-ink: none;
    text-decoration-thickness: .5em;
    text-underline-offset: -.25em;
    transition: text-decoration .3s;

  &:hover {
    color: var(--foreground);
    text-decoration-color: #FFEE50;
  }
}

a.active {
  background: none;
  padding: 0;
  color: var(--foreground);
  font-weight: bold;
  text-decoration: none;
}

.posts {
  padding: 0;
  
  li {
    display: flex;

  
    div {
      min-width: 8ch;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

blockquote {
  border-left: 2px solid #999;
  margin: 0;
  padding-left: 1.5em;
  border-left-width: 0.25rem;
  margin-top: 1.6em;
  margin-bottom: 1.6em;

  p {
    margin: 0;
  }
}

code,
pre {
  font-family: "Fira Code", monospace;
  font-size: 90%;
}

pre {
  overflow: auto;
  padding: 1em;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  tr {
    border-bottom: 1px solid var(--foreground);
  }

  th,
  td {
    padding: 0.5rem;
  }

  td:first-child {
    font-weight: bold;
  }
}
