#container {
  background: var(--background);
  position: relative;
  z-index: 100;
  margin: 0 auto;
  padding: 1rem;
}

#container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: none;
  pointer-events: none;
}

/* Navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  display: inline;
}

nav a {
  font-weight: bold;
  font-size: 0.95em;
  color: var(--foreground);
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
