---
layout: default
title: Archive
---

<ul class="posts">
  {% for post in site.posts %}
 {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    <b></b><li id="y{{currentdate}}">{{ currentdate }}</li></b>
    {% assign date = currentdate %} 
  {% endif %}
  <li>
    <div>
      <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m"  }}</time>
    </div>
    <span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </span>
  </li>
  {% endfor %}
</ul>
